.dialog {
    position: fixed;
    background-color: rgba(0, 0, 0, .4);
    width: 100vw;
    height: 100vh;
    z-index: 4;
    top: 0;
    left: 0;
}

.dialog__container {
    padding-top: 24px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.dialog__body {
    padding: 22px 24px 22px 24px;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.dialog__icon {
    width: 30px;
    height: 30px;
    background-image: url(../../assets/icon/icon-warning-58.png);
    background-size: contain;
}

.dialog__text {}

.dialog__footer {
    padding: 0 24px 24px 24px;
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
}