.add--black {
    background: url("/src/assets/icon/qlts-icon.svg") no-repeat -467px -423px;
    width: 10px;
    height: 10px;
}

.add--white {
    background: url("/src/assets/icon/qlts-icon.svg") no-repeat -204px -424px;
    width: 8px;
    height: 8px;
}

.delete {
    background: url("/src/assets/icon/qlts-icon.svg") no-repeat -419px -111px;
    width: 18px;
    height: 18px;
}

.excel {
    background: url("/src/assets/icon/qlts-icon.svg") no-repeat -287px -111px;
    width: 18px;
    height: 18px;
}

.expand {
    background: url("../../../assets/icon/qlts-icon.svg") no-repeat -72px -338px;
    width: 7px;
    height: 5px;
}

.dropdown {
    background: url("../../../assets/icon/qlts-icon.svg") no-repeat -204px -332px;
    width: 8px;
    height: 16px;
}

.calendar {
    background: url("../../../assets/icon/qlts-icon.svg") no-repeat -287px -67px;
    width: 18px;
    height: 18px;
}

.filter {
    background: url("../../../assets/icon/qlts-icon.svg") no-repeat -243px -69px;
    width: 17px;
    height: 16px;
}
