.h-btn__main {
    color: #fff;
    border: none;
    background-color: var(--color-blue-2);
    height: 36px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 13px;
    min-width: 36px;
}

.h-btn__main:hover {
    background-color: var(--color-blue-3);
}

.h-btn__main:active {
    background-color: var(--color-blue-4);
}

.h-btn__main:focus {
    outline: 2px solid var(--color-blue-5);
}

.h-btn__main:disabled {
    background-color: var(--color-blue-6);
}

.h-btn__main:disabled:hover,
.h-btn__main:disabled:active {
    background-color: var(--color-blue-6);
}

.h-btn__sub {
    border: 1px solid var(--color-blue-2);
    height: 36px;
    border-radius: 3px;
    background-color: #fff;
    color: var(--color-blue-2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
}

.h-btn__sub:hover {
    background-color: var(--color-blue-5);
}

.h-btn__sub:active {
    background-color: #fff;
}

.h-btn__sub:focus {
    outline: 2px solid var(--color-blue-5);
}

.h-btn__sub:disabled {
    color: var(--color-blue-6);
    border: 1px solid var(--color-blue-6);
}

.h-btn__sub:disabled:hover,
.h-btn__sub:disabled:active {
    background-color: #fff;
}
