.h-header {
    background-color: #fff;
    height: 44px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.h-header__title {
    font-weight: 700;
}

.h-header__right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.h-header__btn {
    cursor: pointer;
}

.h-header__dropdown {
    background: url("../../../assets/icon/qlts-icon.svg") no-repeat -72px -338px;
    width: 8px;
    height: 5px;
    margin-left: 8px;
}

.h-header__avatar {
    background: url("../../../assets/icon/qlts-icon.svg") no-repeat -23px -23px;
    width: 18px;
    height: 18px;
    margin-left: 20px;
}

.h-header__support {
    background: url("../../../assets/icon/qlts-icon.svg") no-repeat -67px -67px;
    width: 18px;
    height: 18px;
    margin-left: 20px;
}

.h-header__menu {
    background: url("../../../assets/icon/qlts-icon.svg") no-repeat -199px -23px;
    width: 18px;
    height: 18px;
    margin-left: 20px;
}

.h-header__notification {
    background: url("../../../assets/icon/qlts-icon.svg") no-repeat -332px -109px;
    width: 16px;
    height: 20px;
    margin-left: 28px;
}

.h-header__year {
    border-radius: 3px;
    width: 112px;
    height: 30px;
    background-color: rgba(26, 164, 200, 0.2);
    cursor: pointer;
    position: relative;
    padding-left: 12px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 13px;
    margin-left: 24px;
}

.h-year__selected {
    font-weight: 700;
}

.h-year__icon {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.h-year__icon--up {
    background: url("../../../assets/icon/qlts-icon.svg") no-repeat -28px -338px;
    width: 8px;
    height: 5px;
}

.h-year__icon--down {
    background: url("../../../assets/icon/qlts-icon.svg") no-repeat -72px -338px;
    width: 8px;
    height: 5px;
}
