@import url(../css/variables.css);
@import url(../css/base/input.css);
@import url(../css/base/table.css);
* {
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 13px;
}

.page {
    display: flex;
}

.sidebar-collapsed-main {
    width: calc(100% - 69px);
}

.sidebar-expanded-main {
    width: calc(100% - 200px);
}

.text-bold {
    font-weight: 700;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.ml-12 {
    margin-left: 12px;
}

@font-face {
    font-family: Roboto;
    src: url(../assets/font/Roboto-Regular.ttf);
    font-weight: 300;
}