.header {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header__right {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.header__button {
    width: 24px;
    height: 24px;
    outline: none;
    border: unset;
    cursor: pointer;
    background-image: url(../../assets/icon/qlts-icon.svg);
    background-repeat: no-repeat;
    background-color: unset;
}

.header__button--bell {
    background-position: -328px -107px;
}

.header__button--category {
    background-position: -196px -19px;
}

.header__button--question {
    background-position: -64px -63px;
}

.header__button--profile {
    background-position: -19px -19px;
}

.header__button--dropdown {
    background: url(../../assets/icon/qlts-icon.svg) no-repeat -72px -336px;
    width: 8px;
    height: 8px;
    display: inline-block;
    outline: none;
    border: unset;
    cursor: pointer;
}

.header__year {
    height: 30px;
    border-radius: 3px;
    background-color: rgba(26, 164, 200, .2);
    padding: 0 11px;
    line-height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__year--icon {
    margin-left: 8px;
    background: url(../../assets/icon/qlts-icon.svg) no-repeat -204px -332px;
    width: 8px;
    height: 16px;
}

.header__year span {
    margin-left: 16px;
}