input[type=checkbox] {
    cursor: pointer;
    height: 14px;
    width: 14px;
    background-image: url(../../assets/icon/qlts-icon.svg);
    background-repeat: no-repeat;
    background-position: -113px -377px;
    border: unset;
    border-radius: 2px;
    outline: 0;
    -webkit-appearance: none;
}

input[type=checkbox][disabled]:hover {
    outline: none !important;
}

input[type=checkbox]:checked {
    background-image: url(../../assets/icon/qlts-icon.svg);
    background-repeat: no-repeat;
    background-position: -157px -377px;
}

input[type=checkbox]:hover,
input[type=checkbox]:active {
    outline: 4px solid #bfe6f0;
}

input[type=checkbox]:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}