.pagination {
    display: flex;
    align-items: center;
}

.pagination__total-record {
    font-size: 11px !important;
}

.page-number {
    display: flex;
    list-style: none;
    align-items: center;
    column-gap: 8px;
    margin-left: -20px;
}

.page-number button:disabled {
    background-color: #fff;
    cursor: not-allowed;
}

.page-number__item {
    width: 20px;
    height: 20px;
    cursor: pointer;
    line-height: 20px;
    text-align: center;
    border-radius: 4px;
    font-size: 11px;
}

.page-number__item:hover {
    background-color: #f5f5f5;
}

.page-number__item--active {
    background-color: #f5f5f5;
    font-weight: bold;
}

.page-number__icon {
    background-image: url(../../assets/icon/qlts-icon.svg);
    background-repeat: no-repeat;
    outline: none;
    border: none;
}

.icon--prev {
    background-position: -198px -242px;
}

.icon--next {
    background-position: -242px -242px;
}

.pagination .combobox {
    height: 25px !important;
    width: 59px !important;
    margin-left: 26px !important;
}

.pagination .combobox__data {
    padding: 0px !important;
}

.pagination .combobox__icon--arrow-down {
    background-position: -68px -328px !important;
}

.pagination .combobox__data--top {
    top: -106px !important;
}

.pagination .combobox__icon {
    width: 20px;
}

.pagination .combobox__data--item,
.pagination .combobox__input {
    padding-left: 14px !important;
    font-size: 11px !important;
}

.pagination .combobox__data--item {
    border-radius: 0px !important;
    height: 25px !important;
    line-height: 25px !important;
}

.pagination .combobox__data--text {
    font-size: 11px;
}